extends ./layout.jade

block title
  title #{user.name}'s Politician Match

block extra-header
  link(rel='stylesheet', href='/css/page.css')
  link(rel='stylesheet', href='/css/twitterFeed.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  //- link(href="../bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css")
block extra-scripts
  script(type='text/javascript', src='/js/page.js')
  script(src="../bower_components/codebird-js/codebird.js")
  script(src="../bower_components/doT/doT.min.js")
  script(src="../bower_components/moment/min/moment.min.js")
  script(src="../bower_components/moment/locale/it.js")
  script(src="../bower_components/social-feed/js/jquery.socialfeed.js")

block content
  .overlay-screen.how-it-worked(style='display: none')
    .container
      .row
        .col-md-8
          a.button.h3.back(href='javascript:void(0)') &#8592; BACK
          h3 How does this app analyze your personality?
          p Your Politician Match uses the&nbsp;
            a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html') IBM Watson Personality Insights service
            | &nbsp;to analyze the language in your public Twitter feed and apply it to a spectrum of characteristics. Then, we compare your results to the Twitter feeds of 50+ politicians.
          h3 What do these traits mean?
          p These traits are drawn from&nbsp;
            a(href='https://en.wikipedia.org/wiki/Big_Five_personality_traits') the Big Five personality traits
            | ,&nbsp;
            a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/models.shtml#outputNeeds') the aspects of a product likely to resonate with someone
            | &nbsp;, and&nbsp;
            a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/models.shtml#outputValues') the motivating factors that influence decision-making
            | .
          h3 Privacy & User Agreement
          p By using these service, you agree to our&nbsp;
            a(href='https://www.ibm.com/privacy/us/en/') privacy policy
            | &nbsp;and&nbsp;
            a(href='/tos') Terms of Use
            | .
  include ./navbar.jade
  .container.page-content
    if info
      .row
        .col-md-8.col-md-push-2
          div(role='alert').alert.alert-info
            p
              span TIP:
              | #{info}

    .row
      .col-md-8.col-md-offset-2#moveCol
        .panel-main
          include ./match-panel.jade
      
      
      .col-md-2#makeBigger
        .social-feed-header(style='display:none')
          i.fa.fa-twitter.fa-2x
          h2 Politician Twitter Feed
        .social-feed-element
          button(disabled='disabled').showTweetFeed.loading Loading Tweets

    .row.how-you-match-label
      .col-md-12
        p How you match up against other politicians:

    .row.other-celebs
      .col-md-6.most-similar
        .panel-comparisons
          .panel-heading
            p
              | Most
              span &nbsp;similar&nbsp;
              | to you
          .panel-body
            .row
              each c, index in similar_personalities
                .col-sm-4.col-xs-6.text-center.other-celeb.personality
                  .avatar-small
                    div.overlay-yellow
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='s_#{index}')
                  h5
                    h5 #{c.user.name}
              each c, index in similar_needs
                .col-sm-4.col-xs-6.text-center.other-celeb.needs.hide-traits
                  .avatar-small
                    div.overlay-yellow
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='s_#{index}')
                  h5
                    h5 #{c.user.name}
              each c, index in similar_values
                .col-sm-4.col-xs-6.text-center.other-celeb.values.hide-traits
                  .avatar-small
                    div.overlay-yellow
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='s_#{index}')
                  h5
                    h5 #{c.user.name}
      .col-md-6.most-different
        .panel-comparisons
          .panel-heading
            p
              | Most
              span &nbsp;different&nbsp;
              | from you
          .panel-body
            .row
              each c,index in different_personalities
                .col-sm-4.col-xs-6.text-center.other-celeb.personality
                  .avatar-small
                    div.overlay-red
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='d_#{index}')
                  h5 #{c.user.name}
              each c,index in different_needs
                .col-sm-4.col-xs-6.text-center.other-celeb.needs.hide-traits
                  .avatar-small
                    div.overlay-red
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='d_#{index}')
                  h5 #{c.user.name}
              each c,index in different_values
                .col-sm-4.col-xs-6.text-center.other-celeb.values.hide-traits
                  .avatar-small
                    div.overlay-red
                      div.percentage
                        h4 #{Math.round(c.distance * 100)}%
                    img(title='Compare me to #{c.user.name}', alt='#{c.user.name} picture', src='#{c.user.image}',id='d_#{index}')
                  h5 #{c.user.name}
    script(type='text/javascript').
      var similar_personalities =!{JSON.stringify(similar_personalities)};
      var different_personalities =!{JSON.stringify(different_personalities)};
      var similar_needs =!{JSON.stringify(similar_needs)};
      var different_needs =!{JSON.stringify(different_needs)};
      var similar_values =!{JSON.stringify(similar_values)};
      var different_values =!{JSON.stringify(different_values)};
      $(document).ready(function(){
        $('.social-feed-element').socialfeed({
          twitter:{
            accounts: ['@BarackObama', '@realDonaldTrump', '@mike_pence', '@HillaryClinton', '@timkaine', '@SenJohnMcCain', '@GovGaryJohnson', '@algore', '@Schwarzenegger', '@SarahPalinUSA', '@RepRonPaul', '@RalphNader', '@glennbeck', '@JohnKerry', '@MicheleBachmann', '@MittRomney', '@MikeBloomberg', '@JoeBiden', '@SenSanders', '@DrJillStein', '@RandPaul', '@CoryBooker', '@SpeakerRyan', '@BobbyJindal', '@NancyPelosi', '@GovMikeHuckabee', '@JebBush', '@BernieSanders', '@newtgingrich', '@GovernorPerry', '@SpeakerBoehner', '@KarlRove', '@SenatorReid', '@JerryBrownGov', '@JimDeMint', '@EricCantor', '@jasoninthehouse', '@DarrellIssa', '@GabbyGiffords', '@ScottWalker', '@AllenWest', '@clairecmc', '@SenWarren', '@ChuckGrassley', '@NYCMayor', '@THEHermanCain', '@alfranken', '@SenGillibrand', '@MartinOMalley', '@RickSantorum', '@ChrisChristie', '@tedcruz', '@senatemajldr', '@MichelleObama', '@condoleezarice', '@madeleine'],                      
          limit: 1,                                   //Integer: max number of tweets to load
          consumer_key: "ano0hWwr3tdqKYT7xb6UEGK9R",         //String: consumer key. make sure to have your app read-only
          consumer_secret: "OmIx30WlbVBGbq8S41HoF7tw7O0bnJDMaDqVYdpPAvgTbS6kLh" //String: consumer secret key. make sure to have your app read-only
          },
          length:200,                                     //Integer: For posts with text longer than this length, show an ellipsis.
          show_media:true,                                //Boolean: if false, doesn't display any post images
          media_min_width: 300,                           //Integer: Only get posts with images larger than this value
          //- update_period: 5000,                            //Integer: Number of seconds before social-feed will attempt to load new posts.
          //- template: "bower_components/social-feed/template.html",                         //String: Filename used to get the post template.
          template_html:                                  //String: HTML used for each post. This overrides the 'template' filename option
            `<article class="twitter-post" style="display: none"> 
            <img class="pull-left" src="{{=it.author_picture}}">
            <h4>{{=it.author_name}}</h4> <h6 class="pull-right">{{=it.author_screenName}}</h6>
            <p>{{=it.text}}</p> <div class="viewTweet"><a href="{{=it.link}}" class="pull-right" target="_blank">view tweet</a></div>
            </article>`,
          date_format: "ll",                              //String: Display format of the date attribute (see http://momentjs.com/docs/#/displaying/format/)
          date_locale: "en",                              //String: The locale of the date (see: http://momentjs.com/docs/#/i18n/changing-locale/)
          moderation: function(content) {                 //Function: if returns false, template will have class hidden
            return  (content.text) ? content.text.indexOf('fuck') == -1 : true;
          },
          callback: function() {                          //Function: This is a callback function which is evoked when all the posts are collected and displayed
            $('.showTweetFeed').removeClass('loading').prop("disabled", false).text("Politicians' Tweets")
            console.log("All posts collected!");
          }
        });
        $('.showTweetFeed').click(function() {
          $('.showTweetFeed').hide();
          $('.social-feed-header').css({"display": "block"});
          $('#makeBigger').removeClass('col-md-2').addClass('col-md-4');
          $('#moveCol').removeClass('col-md-offset-2');
          $('.twitter-post').show();
        })
      });